name: "Run Security Bot"

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read
  issues: write
  checks: write
  actions: read
  pull-requests: write

jobs:
  call-bot:
    uses: arinagrawal05/repo-security-bot/.github/workflows/repo-security-bot.yml@main
    
    secrets: inherit
