name: "Run Security Bot"

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  call-bot:
    uses: arinagrawal05/repo-security-bot/.github/workflows/repo-security-bot.yml@main
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
